#root > div > div.loginform-background {
    background-image: url(../home_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.transparent {
    opacity: 0.9;
}

#loginform-row {
    margin-top: 12%;
  }

#login-header {
    text-align: center;
}

#signup-header {
    text-align: center;
}