/* #root > div > div.main-background {
    background-image: url(../home_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} */

/* #main-background {
    display: flex;
    flex-wrap: nowrap | wrap | wrap-reverse;
} */