#add-food-button {
    float: left;
}

/* #create-food-button {
    float: left;
} */


#food-search-header {
    text-align: center;
}


#mealworkout {
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
