#root > div > div.ui.size.huge.secondary.menu > div.ui.center.aligned.container > img {
    height: 100px;
    
}

#nav-bar {
    margin-top: 10px;
}

#nav-bar ul {
    display: inline-flex;
    color: #b2b1b1;
}

#active {
    color: #b2b1b1;
    cursor: pointer;
    margin: 0 20px;
}

#menu-logo {
    width: 100px;
    height: 50px;
}